@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,600&display=swap');
.bg{
    background-color: black;
}
.logo{
background-image: url("../images/KAYYYGE.png");
height:100%;
width: 100%; 
top: 10px;;
margin-bottom: 100px;
z-index: 10;
background-size: cover;
/* position:relative; */
position: absolute;
}
.mdlogo{
    background-image: url("../images/adobe22.png");
    height:100%;
    width: 100%; 
    top: 0;
    margin-bottom: 100px;
    z-index: 10;
    background-size: cover;
    position: absolute;
}
.smlogo{
    background-image: url("../images/kkka.png");
    height:100%;
    width: 100%; 
    top: 0;
    margin-bottom: 100px;
    z-index: 10;
    background-size: cover;
    position: absolute;

}
.xslogo{
    background-image: url("../images/kkka.png");
    height:100%;
    width: 100%; 
    top: 0;
    z-index: 10;
    background-size: cover;
    position: absolute;
}
   *{
        box-sizing: border-box;
      }
      
      body {
        margin: 0;
        font-family: Arial;
        font-size: 17px;
      }
      
      #myVideo {
        width: 70%; 
       height: 100%;
       display: block;
  margin-left: auto;
  margin-right: auto;

      }
      .font{
        font-family: Krungthep;
      }
      .spacing{
          margin-left: 5px;
      }
    
     .solid {
         outline-color: rgb(255, 255, 255);
         outline-style: solid;}
      .fontColor{
        color: white  !important;
      }
    .btn{
       border-radius: 50%;
       background-color:rgb(66, 0, 141); /* Green */
       border: none;
       color: white;
       padding: 20px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin: 4px 2px;
       cursor: pointer;
    }
    .fontColor2{
        color: rgb(255, 255, 0);
    }
.car{
       background-color: black !important;
    }
  .whtebg{
     color: white;
  }
  .pclass {
    text-align: center;
   line-height: 50px;
   /* margin-left: 100px; */
   
   }
  hr {
    height:10px;
    border-width:0;
    background-color:#ffffff !important;
  }
  .cardfont{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
  }
  .cen{
      padding-left: 7rem ;
  }    
  .form-control{
    background-color: rgb(0, 0, 0);
  }
  
  hr{
   display: block; height: 1px;
      border: 0; border-top: 1px solid #ccc;
      margin: 1em 0; padding: 0; }
  
.card{
  margin:20px 10px;
  background-color: rgb(0, 0, 0);
   width: 15rem ;
   outline-color: rgb(255, 255, 255); 
   outline-style: solid;
   flex-direction: 1 ;
   justify-content: center;
   
}
.card-body a{
  margin-top: auto;
}
      
      