
.bg{
    background-color: black;
}
.logo{
background-image: url("../images/KAYYYGE.png");
height:100%;
width: 100%; 
top: 10px;;
margin-bottom: 100px;
z-index: 10;
background-size: cover;
/* position:relative; */
position: absolute;
}
.mdlogo{
    background-image: url("../images/adobe22.png");
    height:100%;
    width: 100%; 
    top: 0;
    margin-bottom: 100px;
    z-index: 10;
    background-size: cover;
    position: absolute;
}
.smlogo{
    background-image: url("../images/kkka.png");
    height:100%;
    width: 100%; 
    top: 0;
    margin-bottom: 100px;
    z-index: 10;
    background-size: cover;
    position: absolute;

}
.xslogo{
    background-image: url("../images/kkka.png");
    height:100%;
    width: 100%; 
    top: 0;
    z-index: 10;
    background-size: cover;
    position: absolute;
}
   *{
        box-sizing: border-box;
      }
      
      body {
        margin: 0;
        font-family: Arial;
        font-size: 17px;
      }
      
      #myVideo {
        width: 70%; 
       height: 100%;
       display: block;
  margin-left: auto;
  margin-right: auto;

      }
      .font{
        font-family: Krungthep;
      }
      .spacing{
          margin-left: 5px;
      }
    
     .solid {
         outline-color: rgb(66, 0, 141);
         outline-style: solid;}
      .fontColor{
        color: white  !important;
      }
    .btn{
       border-radius: 50%;
       background-color:rgb(66, 0, 141); /* Green */
       border: none;
       color: white;
       padding: 20px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin: 4px 2px;
       cursor: pointer;
    }
  
      
      
      
      